<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Solver</title>
    <link rel="stylesheet" href="https://chiefwoods.github.io/footer-template/template.css">
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
    <script src="../public/script.js" defer></script>
  </head>

  <body>
    <main>
      <h1>Sudoku Solver</h1>
      <hr>
      <section>
        <table>
          <tbody>
            <tr>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
            </tr>
            <tr>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
            </tr>
            <tr>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
            </tr>
            <tr>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
            </tr>
            <tr>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
            </tr>
            <tr>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
            </tr>
            <tr>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
            </tr>
            <tr>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
            </tr>
            <tr>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
            </tr>
          </tbody>
        </table>
        <form id="solve">
          <textarea name="puzzle">1.5..2.84..63.12.7.2..5.....9..1....8.2.3674.3.7.2..9.47...8..1..16....926914.37.</textarea>
          <button type="submit">Solve</button>
        </form>
        <form id="check">
          <div class="field">
            <label for="coordinate">Coordinate (A1):</label>
            <input type="text" name="coordinate" id="coordinate">
          </div>
          <div class="field">
            <label for="value">Value (1-9):</label>
            <input type="text" name="value" id="value">
          </div>
          <button type="submit">Check Placement</button>
          <code id="result"></code>
        </form>
      </section>
    </main>
    <footer>
      <span class="made-by">Copyright @
        <script>document.write(new Date().getFullYear())</script> ChiefWoods
      </span>
      <a class="github-link" href="https://github.com/ChiefWoods/sudoku-solver" target="_blank">
        <img src="./public/icons/github.svg" class="github-icon" alt="GitHub">
      </a>
    </footer>
  </body>

</html>